// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1px;

    body {
        width: 1020px;
        font-size: 16px;

        aside {
            width: 20%;
            background-color: #24306e;
            height: 100%;
            position: fixed;
            display: flex;
            align-items: center;
            flex-direction: column;

            .logo-pic {

                // border: 1px solid red;
                padding: 40px 0;
                width: 111px;
                margin-right: 17px;

            }

            .aside-catalog {
                line-height: 40px;

            }

            .aside-note {
                color: white;
                text-decoration: none;
                margin-left: 5px;
                position: relative;
                bottom: 4px;
            }
        }

        main {
            width: 80%;
            height: 100%;
            position: fixed;
            right: 0;
            // border: 2px solid red;

            .container {
                // border: 1px solid goldenrod;

                header {
                    // border: 1px solid black;
                    width: 100%;
                    height: 80px;

                    .header-area {
                        width: 40%;
                        justify-content: space-between;
                        align-items: center;
                        display: flex;
                        border-radius: 30px;
                        padding: 5px;
                        background-color: white;
                        box-shadow: 0 0 5px grey;

                        .greet-display {
                            color: #24306e;
                            width: 30%;
                            height: 29px;
                            font-family: "poppins";
                            font-weight: bold;
                            font-size: 23px;
                            padding-left: 20px;
                            margin-left: 90px;
                        }

                        .search-area {
                            border: 1px solid white;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 35%;
                            margin-right: 40px;
                            border-radius: 30px;

                            // border-radius: 30px;
                            background: #FFF;
                            box-shadow: 14px 17px 40px 4px rgba(112, 144, 176, 0.08);


                            .input {
                                background-color: #cdd0da;
                                width: 216px;
                                padding-left: 20px;
                                margin-left: 10px;
                                // color: #F4F7FE;
                                border-radius: 9px;
                                flex-shrink: 0;
                            }
                        }
                    }
                }
            }

            .container-two {
                // border: 1px solid red;
                width: 100%;
                height: 500px;
                padding: 20px 60px;

                .scholarship-parttwo {
                    font-size: 20px;
                    border: 1px solid red;
                    height: 480px;
                    padding: 0 50px;

                    .scholarship-msg {
                        font-size: 25rem;
                        margin-bottom: 20px;
                        margin-right: 80px;
                        width: 250px;
                        // border: 1px solid red;
                        color: #24306E;
                        margin-top: 7px;

                    }

                    .date {
                        display: flex;
                        justify-content: space-evenly;

                        .date-top {
                            // border: 1px solid blue;
                            color: #24306E;
                            font-family: Poppins;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                            margin-right: 600px;

                        }
                    }

                    .box-section {
                        width: 100%;
                        display: grid;
                        grid-template-columns: auto auto auto;
                        justify-content: center;
                        column-gap: 80px;
                        flex-wrap: wrap;
                        // border: 1px solid red;



                        .file-box {
                            background-color: #E2EBEB;
                            padding: 15px;
                            border-radius: 10px;
                            margin-bottom: 10px;
                            // border: 1px solid red;
                            width: 15 0px;
                            margin-top: 10px;

                            .amount {
                                color: #24306E;
                                font-family: Poppins;
                                font-size: 15px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                                padding-left: 65px;
                                // border: 1px solid red;
                                line-height: 20px;
                            }

                            .rank {
                                color: #24306E;
                                text-align: center;
                                font-family: Poppins;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 20px;
                            }

                            .d-line {
                                // border: 1px solid red;
                                color: #24306E;
                                font-family: Poppins;
                                font-size: 15px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 35px;
                                padding-left: 24px;
                            }

                            .de-line {
                                // border: 1px solid red;
                                color: #24306E;
                                font-family: Poppins;
                                font-size: 15px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 10px;
                                padding-left: 45px;
                                margin-bottom: 10px;
                            }

                            .button {
                                border: 1px solid #24306E;
                                color: #24306E;
                                font-family: Poppins;
                                font-size: 17px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: normal;
                                border-radius: 10px;
                                width: 130px;
                                // padding-left: 10px;
                                background-color: #E2EBEB;
                                margin-left: 25px;


                            }












                        }

                    }




                }



            }



        }
        @media screen and (min-width:586px) { 
            body {
                background-color: red;
            }
            
        }
    }



}